<% items.forEach(function(item) {%>
    <div class="card">
        <form action="/updateItem" method="post">
            <input type="text" name="itemTitle" value="<%= item.title %>" onChange="this.form.submit()">
            <input type="text" name="itemContent" value="<%= item.content %>" onChange="this.form.submit()">
            <input type="hidden" name="listID" value="<%=list.id%>">
            <input type="hidden" name="itemID" value="<%=item.id%>">
        </form>
    </div>
<% }); %> 
</div>