<%- include('header') %>
<div class="container-new">
<% lists.forEach(function(list) {%>
    <% console.log(list); %>
    <div class="list">
        <h2><%= list.title %></h2>
        <%- include('card', {items: list.items}) %>
    </div>
<% }); %> 
</div>

<%- include('footer') %>