<%- include('partials/header') %>


<h1>Display a dashboard/kanban style list of the users tasks.</h1>
<div class="container-new">
<% boards.forEach(function(board){ %>
<a href="board/<%= board.id %>">
    <div class="boardItem">
        <h2><%= board.name %></h2>
    </div>
</a>
<% });%>
<form action="/dashboard" method="POST">
    <input type="text" class="" name="boardName" placeholder="Enter a board name">
    <button type="submit">✔</button>
</form>
</div>

<%- include('partials/footer') %>
