<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Organize</h1>
    <p class="lead">Keep yourself on track and know when things are due.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <p>Don't have an account yet? <a class="" href="/register">Register</a></p>

  </div>
</div>

<%- include('partials/footer') %>
