<%- include('partials/header') %>
<style>
    .full-width-container { display: block !important; }
</style>
<div class="login-page">
<div class="login-container">
  <h1 class="center">Register</h1>

  <div class="login-form">
        <div class="">
          <form action="/register" method="POST">
            <div class="">
                <input type="text" class="first" name="firstName" placeholder="First name">
            </div>
            <div class="">
                <input type="text" class="middle" name="lastName" placeholder="Last name">
            </div>
            <div class="">
              <input type="email" class="middle" name="username" placeholder="Email">
            </div>
            <div class="">
              <input type="password" class="last" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn-blue">Register</button>
          </form>
    </div>
<span class="center or">- or -</span>
<div class="social-login">
      <div class="">
        <div class="">
          <a class="social-option" href="/auth/google" role="button">
            <img src="/images/google.png" style="width: 30px; margin-top: -3px;">
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

</div>

<%- include('partials/header') %>
